:root {
    --bg: #1e1e2e;
    --fg: #c6d0f5;
    --second-bg: #11111b;
    --blue: #8caaee;
    
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--bg);
    color: var(--fg);
    margin: auto;
    width: 50%;
}

.content {
    margin-top: 10%;
}

#time {
    font-size: 8vw;
    text-align: center;
}

#date {
    font-size: 2vw;
    text-align: center;
}

input {
    background-color: var(--bg);
    border: none;
    font-size: 1.5vw;
    color: var(--fg);
    border-bottom: 0.1vw solid var(--fg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
} input:focus {
    border-color: var(--blue);
    outline: none;
}

#hello {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1vw;
}

a {
    text-decoration: none;
    color: var(--blue);
    display: block;
    display: inline-block;
    padding: 2px 0px;
}

a::before {
    content: "";
}

a:hover {
    font-style: italic;
    font-weight: normal;
}

#links {
    margin-top: 25px;
    display: flex;
    font-size: 1vw;
    flex-wrap: wrap;
}

.list {
    background-color: var(--second-bg);
    border-radius: 15px;
    margin: 10px;
    flex: 1;
}

ul {
    list-style-type: none;
    font-weight: bold;
    font-size: 1.1vw;
    padding-left: 1.5vw;
}

.favicon {
    margin-right: 8px;
    height: 1rem;
    /* example: <img class="favicon" src="https://icons.duckduckgo.com/ip3/youtube.com.ico" alt="Youtube favicon"> */
}

/* portrait (mobile) viewport changes */
@media screen and (max-aspect-ratio: 4/3) {
    #hello {
        font-size: 2vw;
    }

    body {
        width: 80%;
    }

    #date {
        font-size: 3vw;
    }

    input {
        font-size: 3vw;
    }

    #links {
        display: grid;
    }

    ul {
        font-size: 4vw;
        text-align: center;
        padding-left: 0vw;
    }
}